       button {
           display: inline-block;
           cursor: pointer;

           border-style: solid;
           border-width: 1px;
           border-radius: 50px;
           padding: 10px 18px;
           box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
           font-size: 15pt;
           font-weight: bold;
           color: #fff;
           text-decoration: none;
           background-color: #007BFF;
           transition: background-color .3s ease;
       }

       #find:hover {
           background-color: #3bc4ff;
       }

       a {
           text-decoration: none;
           text-align: center;
       }

       .position {
           text-align: center;
       }

       button,
       #tempRes,
       #top,
       #generation {
           font-family: "Press Start 2P", system-ui;
           size: 5em;
       }

       #top {
           text-align: center;
           background-image: url("media/poketile.png");
           padding-top: 1em;
           padding-bottom: 1em;
           color: #007BFF;

           background-color: rgba(255, 255, 255, 0.6);
           background-blend-mode: lighten;
       }

       #tempRes {
           text-align: center;
       }

       img {
           width: 15em;
           padding: 0;
           display: block;
           margin: 0 auto;
       }

       span,
       h3 {
           font-family: "Press Start 2P", system-ui;
       }

       #generation,
       h3 {
           text-align: center;
       }

       #hp {
           color: rgb(0, 255, 0);
       }

       #atk {
           color: red
       }

       #df {
           color: orange;
       }

       #satk {
           color: aqua;
       }

       #sdf {
           color: blueviolet;
       }

       #sped {
           color: violet;
       }


       @media screen and (min-width: 800px) {
           #all {
               width: 70vw;
               height: auto;
               margin: 0 auto;
           }

           #top {
               width: 100vw;
               position: relative;
               top: 0px;
               left: -15vw;
           }

       }